# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# No USD files allowed in the repo
**/*.usda
**/*.usdc
**/*.usdz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
!.vscode

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/runs/*
**/logs/*
**/recordings/*

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Teleop Recorded Dataset
datasets

transfer/obelisk/install/
transfer/obelisk/log/
transfer/obelisk/build/
transfer/obelisk/docker/.env
transfer/obelisk/MUJOCO_LOG.TXT
g1_hardware_log/

*.pkl

*.png

transfer/obelisk/.vscode/
transfer/obelisk/ctrl_logs/
transfer/obelisk/optitrack_logs/
transfer/obelisk/odom_logs/

transfer/sim/experiments/mass_rand_comp/
transfer/sim/experiments/hzd_clf_dec_comp/
*.csv
transfer/sim/MUJOCO_LOG.TXT

transfer/sim/experiments/mass_randomization_*/
remote_mount/
vulcan_mount/
vulcan_remote_mount/
g1_mount/

transfer/sim/MUJOCO_LOG.TXT
transfer/sim/experiments/plots
paper_figures/
transfer/sim/experiments/comparison_logs